<button class="btn btn-large btn-primary new" {{action 'goToNewPhoto'}}>New photo</button>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {{#each}}
      <tr>
        <td {{action 'goToPhoto' this}}><img class="thumbnail" {{bind-attr src=thumbnail}} /></td>
        <td {{action 'goToPhoto' this}}>{{title}}</td>
        <td {{action 'goToPhoto' this}}>{{description}}</td>
        <td>
          <span class="edit glyphicon glyphicon-edit" {{action 'edit' this}}></span>
          <span class="remove glyphicon glyphicon-remove-circle" {{action 'delete' this}}></span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>