{{#if isNewOpen}}
  {{outlet}}
{{else}}
  <button class="btn btn-large btn-primary mbl pull-right" {{action 'goToNewPhoto'}}>Add a photo</button>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {{#each content}}
      <tr>
        <td {{action 'goToPhoto' this}}><img class="thumbnail" {{bindAttr src=thumbnail}} /></td>
        <td {{action 'goToPhoto' this}}>{{title}}</td>
        <td {{action 'goToPhoto' this}}>{{description}}</td>
        <td>
          <i class="icon-edit-sign" {{action 'edit' this}}></i>
          <i class="icon-remove-sign" {{action 'remove' this}}></i>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}